<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pasarela de Pagos</title>
  <link rel="stylesheet" href="/static/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="icon" type="image/png" href="/static/drnk.png"> <!-- Reemplaza "/static/favicon.png" con la ruta correcta a tu favicon -->
</head>
<body>
  <header>
    <a href="https://docs.google.com/document/d/1Qvoq_L4HO1Wqm-A6v-yBxv5pbWaWoQrZIgTEf5yXWbQ/edit" target="_blank">Documentacion</a>
  </header>
</body>
</html>
